footer
	background: darken($white,8%)
	padding: 10px 0
	.footer-wrap
		+flexbox
		align-items: flex-end
		align-content: flex-end
		justify-content: space-between
		+media-breakpoint-down(sm)
			flex-wrap: wrap
			justify-content: center
	.row
		margin: 0
	.footer-about
		width: 340px
		+media-breakpoint-down(sm)
			margin-bottom: 10px
		.company
			+fs(16rem)
			font-weight: 700
			color: $main
		ul
			li
				+fs(12rem)
				color: $main
				padding-left: 15px
				.fa
					+pos(abs,3px null null 0)
	.copyright
		+fs(12rem)
		color: darken($white,40%)
		+media-breakpoint-down(sm)