.home-title
	+fs(36rem)
	font-weight: 300
	text-transform: uppercase
	margin-bottom: 25px
	+media-breakpoint-down(lg)
		+fs(32rem)
		// margin-bottom: 20px
	+media-breakpoint-down(md)
		+fs(28rem)
		// margin-bottom: 15px
	+media-breakpoint-down(sm)
		+fs(24rem)
		margin-bottom: 15px

.home-des
	+fs(15rem)
	font-weight: 300
	max-width: 1010px
	margin: -20px auto 30px
	+media-breakpoint-down(sm)
		margin-top: -10px
		margin-bottom: 20px

.page-title
	+fs(24rem)
	font-weight: 500
	text-transform: uppercase
	margin-bottom: 30px

.homepage
	main
		background: darken($white,4%)

.home-about
	margin: -80px -60px 0
	+pos(rel,null)
	z-index: 5
	background: url(../img/home/bg1.jpg) center center repeat
	+flexbox
	flex-wrap: wrap
	+media-breakpoint-down(lg)
		margin: 0px -15px
	+media-breakpoint-down(sm)
		background-size: cover
	.home-title
		+media-breakpoint-down(sm)
			text-align: center
	.about-img
		width: 550px
		+media-breakpoint-down(lg)
			width: 40%
		+media-breakpoint-down(sm)
			width: 100%
			display: none
		img
			+media-breakpoint-down(lg)
				min-height: 450px
				object-fit: cover
			+media-breakpoint-down(md)
				height: 100%
			+media-breakpoint-down(sm)
				height: auto
	.about-content
		width: calc(100% - 550px)
		padding: 30px 50px
		border: 1px solid darken($white,8%)
		+flexbox
		flex-direction: column
		justify-content: center
		+media-breakpoint-down(lg)
			width: 60%
			padding: 20px 30px
		+media-breakpoint-down(sm)
			width: 100%
			text-align: justify
			text-align-last: center
		.content
			+fs(15rem)
			font-weight: 300
			margin-bottom: 25px
			max-width: 690px
			+media-breakpoint-down(lg)
				margin-bottom: 15px

.home-service
	padding: 50px 0
	.service-list
		.service-item
			text-align: center
			margin-bottom: 20px
			.service-icon
				+flexbox
				align-items: center
				align-content: center
				justify-content: center
				height: 130px
			.service-name
				+fs(16rem)
				font-weight: 600
				color: $main
				margin-bottom: 15px
			.service-des
				+fs(13rem)
				text-align: justify
				text-align-last: center

.home-project
	.project-banner
		margin: 0px -60px
		+media-breakpoint-down(lg)
			margin: 0px -15px
		+media-breakpoint-down(sm)
		.slick-prev, .slick-next, .slick-dots
			visibility: hidden
			opacity: 0
			+pos(abs, null)
		.banner-caption
			+pos(abs,null null 90px 50%)
			+transform(translateX(-50%))
			z-index: 3
			background: color-rgba($red,0.8)
			+fs(24rem)
			font-weight: 300
			color: $white
			line-height: 30px
			padding: 10px 50px
			min-width: 420px
			text-align: center
			-webkit-clip-path: polygon(20px -1%, 100% -1%, calc(100% - 20px) 100%, 0% 100%)
			clip-path: polygon(20px -1%, 100% -1%, calc(100% - 20px) 100%, 0% 100%)
			+media-breakpoint-down(sm)
				+fs(16rem)
				min-width: unset
				max-width: 90%
				width: 100%
				line-height: 20px
				bottom: 20px
	.project-product
		background: $white
		margin-top: -60px
		padding: 40px 30px
		+pos(rel,null)
		z-index: 1
		+media-breakpoint-down(sm)
			margin: 0px -15px
			padding: 20px 15px
.product-slick
	.slick-prev, .slick-next
		+pos(abs, 50% null null null)
		+fs(0)
		z-index: 3
		+transform(translateY(-50%))
		color: $main
		text-shadow: 0px 3px 5px color-rgba($black,0.1)
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		background: color-rgba(darken($white,20%),0.3)
		&:before
			content: ''
			font-family: 'linearicons-free'
			+fs(16rem)
	.slick-prev
		left: 0px
		&:before
			content: '\e875'
	.slick-next
		right: 0px
		&:before
			content: '\e876'
	.slick-list
		margin: 0px -25px
		+media-breakpoint-down(lg)
			margin: 0px -5px
	.item
		padding: 0px 25px
		+media-breakpoint-down(lg)
			padding: 0px 5px
.home-product
	padding: 50px 0
	.page-tab
		margin-bottom: 30px
.product-slick-wide
	.slick-prev, .slick-next
		+pos(abs, 50% null null null)
		+fs(0)
		z-index: 3
		+transform(translateY(-50%))
		color: $main
		text-shadow: 0px 3px 5px color-rgba($black,0.1)
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		background: color-rgba(darken($white,20%),0.3)
		visibility: hidden
		&:before
			content: ''
			font-family: 'linearicons-free'
			+fs(16rem)
	.slick-prev
		left: 0px
		&:before
			content: '\e875'
	.slick-next
		right: 0px
		&:before
			content: '\e876'
	.slick-list
		margin: 0px -5px
	.item
		padding: 0px 5px

.home-intro
	margin: 0px -60px
	+media-breakpoint-down(lg)
		margin: 0px -15px
	+pos(rel,null)
	.intro-img
		&:before
			content: ''
			+pos(abs, 0 null 0 0)
			right: 0
			background: $black
			opacity: 0.5
		img
			width: 100%
	.intro-caption
		width: 100%
		max-width: 900px
		+pos(abs, 50% null null 50%)
		+transform(translate(-50%,-50%))
		+fs(36rem)
		line-height: 1.3
		font-weight: 200
		color: $white
		z-index: 1
		+media-breakpoint-down(lg)
			+fs(32rem)
		+media-breakpoint-down(md)
			max-width: 700px
			+fs(24rem)
		+media-breakpoint-down(sm)
			padding: 0px 15px
			+fs(18rem)
.home-news
	padding: 50px 0
	.news-slick
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+fs(0)
			z-index: 3
			+transform(translateY(-50%))
			color: $main
			text-shadow: 0px 3px 5px color-rgba($black,0.1)
			width: 40px
			height: 40px
			line-height: 40px
			text-align: center
			background: color-rgba(darken($white,20%),0.3)
			&:before
				content: ''
				font-family: 'linearicons-free'
				+fs(16rem)
		.slick-prev
			left: 0px
			&:before
				content: '\e875'
		.slick-next
			right: 0px
			&:before
				content: '\e876'
		.slick-list
			margin: 0px -10px
			+media-breakpoint-down(sm)
				margin: 0px -5px
		.item
			padding: 0px 10px
			+media-breakpoint-down(sm)
				padding: 0px 5px
	.news-col
		figure
			.news-img
				img
					width: 100%
			figcaption
				padding: 30px 0
				text-align: center
				+media-breakpoint-down(sm)
					padding: 20px 0
					text-align: left
				time
					display: block
					+fs(14rem)
					line-height: 1
					margin-bottom: 10px
					color: darken($white,40%)
					+media-breakpoint-down(sm)
						+fs(12rem)
					&:before
						content: '\f073'
						margin-right: 5px
				.news-name
					+fs(16rem)
					font-weight: 500
					margin-bottom: 10px
					+media-breakpoint-down(sm)
						+fs(14rem)
				.news-link
					+fs(15rem)
					color: $red
					+media-breakpoint-down(sm)
						+fs(13rem)
					&:after
						content: '\e87a'
						font-family: 'Linearicons-Free'
						margin-left: 5px
.home-contact
	padding: 50px 0
	background: $white
	.row
		margin: 0px -25px
		+media-breakpoint-down(lg)
			margin: 0px -10px
		.col-12
			padding: 0px 25px
			+media-breakpoint-down(lg)
				padding: 0px 10px
.home-form
	background: url(../img/formbg.jpg) center center repeat
	+pos(rel,null)
	+transform(perspective(1px)rotateZ(0))
	padding: 30px 50px
	+media-breakpoint-down(lg)
		padding: 30px 40px
	+media-breakpoint-down(md)
		margin-bottom: 15px
	&:before
		content: ''
		+pos(abs, 9px null 9px 9px)
		right: 9px
		z-index: -1
		background: $white
	.module-title
		@extend .home-title
		margin-bottom: 10px
	.form-wrap
		max-width: 520px
.Module-225
	height: 100%
	.ModuleContent
		height: 100%
.home-map
	background: #515151
	height: 100%
	+flexbox
	align-items: center
	align-content: center
	justify-content: center