section.banner-wrap
	.banner.home-banner
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption Tận hưởng không gian sống cùng X'home
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption Tận hưởng không gian sống cùng X'home
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption Tận hưởng không gian sống cùng X'home