footer
	.container
		.footer-wrap
			.footer-about
				.company Công ty TNHH Thương Mại Thiên Quốc
				ul.row
					li.col-12 <i class="fa fa-map-marker" aria-hidden="true"></i>144 Võ Văn Tần, Phường 6, Quận 3, TPHCM, Việt Nam
					li.col-12.col-sm-6 <i class="fa fa-phone" aria-hidden="true"></i>+84 (0)28 3930 7476
					li.col-12.col-sm-6 <i class="fa fa-print" aria-hidden="true"></i>+84 (0)28 3930 7477
					li.col-12.col-sm-6 <i class="fa fa-envelope" aria-hidden="true"></i>info@thienquoc.vn
					li.col-12.col-sm-6 <i class="fa fa-facebook-official" aria-hidden="true"></i>thienquoc.company
			.copyright Copyright © 2018. All rights reserved. Site by ThienQuoc