footer
	.container
		.footer-wrap
			.footer-about
				.company Công ty TNHH Thương Mại Thiên Quốc
				ul.row
					li.col-12 144 Võ Văn Tần, Phường 6, Quận 3, TPHCM, Việt Nam
					li.col-12.col-sm-6 +84 (0)28 3930 7476
					li.col-12.col-sm-6 +84 (0)28 3930 7477
					li.col-12.col-sm-6 info@thienquoc.vn
					li.col-12.col-sm-6 thienquoc.company
			.copyright Copyright © 2018. All rights reserved. Site by ThienQuoc