header
	.header-top
		.container
			.header-wrap
				.search
					.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
					.search-wrap
						.searchbox
							input(type="text")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.language
					a.active(href="#!") VN
					a(href="#!") EN
	.header-bottom
		.container
			.header-wrap
				.sitelogo
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.menu
					.menu-logo
						.sitelogo
							a(href="index.html")
								img(src="img/logo.png", alt="")
					.menu-wrap
						ul.menu-link
							li
								a(href="#!") Trang chủ
							li
								a(href="#!") Giới thiệu
							li.has-mega
								a(href="#!") Sản phẩm
								.mega
									ul.mega-link
										li
											a(href="#!") Sản phẩm mới
										li
											a(href="#!") Quà tặng phổ thông
											.mega-sub
												ul
													li
														a(href="#!") Bút
													li
														a(href="#!") Sổ
													li
														a(href="#!") Đồng hồ
													li
														a(href="#!") Balo
													li
														a(href="#!") Vali
													li
														a(href="#!") Áo mưa
													li
														a(href="#!") Dù
													li
														a(href="#!") Bộ quà tặng
										li
											a(href="#!") Quà tặng gia dụng
											.mega-sub
												ul
													li
														a(href="#!") Bút
													li
														a(href="#!") Sổ
													li
														a(href="#!") Đồng hồ
													li
														a(href="#!") Balo
										li
											a(href="#!") Quà tặng cao cấp
											.mega-sub
												ul
													li
														a(href="#!") Bút
													li
														a(href="#!") Sổ
													li
														a(href="#!") Đồng hồ
										li
											a(href="#!") Quà tặng công nghệ
											.mega-sub
												ul
													li
														a(href="#!") Bút
													li
														a(href="#!") Sổ
													li
														a(href="#!") Đồng hồ
													li
														a(href="#!") Balo
							li
								a(href="#!") Tin tức
							li
								a(href="#!") Liên hệ