section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Giới thiệu
section.about-page
	.container
		h1.home-title.text-center SƠ LƯỢC VỀ CÔNG TY THIÊN QUỐC
		.content
			p Qua nhiều năm thăm dò, nghiên cứu và trải nghiệm thị trường hàng quà tặng, hàng khuyến mãi và hàng hóa phục vụ sản xuất cho các công ty đóng trên địa bàn thành phố Hồ Chí Minh và các vùng lân cận để phục vụ các nhu cầu quảng cáo thiết yếu của các công ty.
			p Do nhu cầu phát triển ngày càng cao, ngày 23/05/2009, 
				span.text-blue Công ty TNHH Thương Mại Thiên Quốc 
				|được thành lậo theo Giấy chứng nhận đăng ký kinh doanh số 4102073137 nhằm cung cấp các sản phẩm hàng hóa đa dạng  và chất lượng, kịp thời đáp ứng các chương trình khuyến mãi và hoạt động sản xuất của các Công ty.
			p Với định hướng đúng đắn và rõ ràng, Công ty TNHH Thương Mai Thiên Quốc đã xây dựng cho mình đội ngũ nhân viên kinh doanh giàu kinh nghiệm và nhân viên bán thời gian hùng hậu để đưa những dòng sản phẩm mới thích ứng với nhu cầu thị hiếu của thị trường, và xu hướng phát triển của xã hội hiện nay.
			p Hàng hóa của Công ty rất đa dạng, nhiều chủng loại, nhiều dòng sản phẩm như tô, chén, dĩa, ly sứ-thủy-tinh, ví da, ba lô, túi xách, cặp, vali, viết các loại, bật lửa, hàng thủ công mỹ nghệ, hàng điện - điện tử, văn phòng phẩm, khay-kệ trưng bày bằng gỗ-mica-nhựa-kim loại, hàng tiêu dùng, ...
			p Nhờ vào đội ngũ nhân viên năng động và sự hướng dẫn tận tình của Ban lãnh đạo, Công ty luôn tìm được nguồn hàng ổn định, chất lượng, giá cả cạnh tranh và thời gian giao hàng nhanh nhất. Đây chính là một trong những điểm mạnh giúp công ty tồn tại, thành công và phất triển trong bối cảnh kinh tế đầy khó khăn như hiện nay.

section.home-partner
	.partner-slick
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")