
section.home-partner
	.partner-slick
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")
		.item
			a.partner-logo(href="#!")
				img(src="img/partner/1.png", alt="")