section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
			li
				a(href="#!") Quà tặng doanh nghiệp
.product-page
	.container
		.row
			.col-12.col-lg-6
				.product-slide-wrap
					.product-slide
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
						.item
							a.img(href="img/product/img1.png" data-fancybox)
								img(src="img/product/img1.png", alt="")
					.product-nav
						.item
							.img
								img(src="img/product/img1.png", alt="")
						.item
							.img
								img(src="img/product/img1.png", alt="")
						.item
							.img
								img(src="img/product/img1.png", alt="")
						.item
							.img
								img(src="img/product/img1.png", alt="")
						.item
							.img
								img(src="img/product/img1.png", alt="")
						.item
							.img
								img(src="img/product/img1.png", alt="")
			.col-12.col-lg-6
				.product-info
					#responsivetabs.responsivetabs
						ul.tabs-list
							li.tab-item
								a(href="#tab1") Mô tả
						#tab1.tab-content
							.content
								h3 
									strong USB Xe hơi
								ul
									li 
										strong Dung lượng: 
										|8G
										br
									li 
										strong Công dụng: 
										|Lưu trữ dữ liệu,...
										br
									li 
										strong Kích thước: 
										|W2xH4cm
										br
									li 
										strong Chất liệu: 
										|Nhựa
.product-other
	.module-title USB
	.product-slick
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")
		.item
			a.product(href="#!")
				img(src="img/product/2.png", alt="")