section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
			li
				a(href="#!") Quà tặng doanh nghiệp
.container
	.product-page
		.row
			.col-12.col-lg-6
				.product-slide-wrap
					.product-slide
						.item
							a.img(href="img/product/img1.png" data-fancybox)
			.col-12.col-lg-6