section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Tin tức
section.news-page
	.container
		.news-detail
			h1.news-name Sử dụng quà tặng thân thiện với môi trường xu hướng hiện nay
			.content
				p Eco-Gifts đã trở nên rất phổ biến trên thế giới trong những năm gần đây. Mọi người không chỉ quan tâm đến sức khoẻ của họ mà còn quan tâm đến môi trường xung quanh. Nếu doanh nghiệp của bạn đi theo xu hướng này, hãy sử dụng những sản phẩm hữu ích
				figure.text-center
					img(src="img/news/img1.jpg", alt="")
				p Eco-Gifts đã trở nên rất phổ biến trên thế giới trong những năm gần đây. Mọi người không chỉ quan tâm đến sức khoẻ của họ mà còn quan tâm đến môi trường xung quanh. Nếu doanh nghiệp của bạn đi theo xu hướng này, hãy sử dụng những sản phẩm hữu ích. Eco-Gifts đã trở nên rất phổ biến trên thế giới trong những năm gần đây. Mọi người không chỉ quan tâm đến sức khoẻ của họ mà còn quan tâm đến môi trường xung quanh. Nếu doanh nghiệp của bạn đi theo xu hướng này, hãy sử dụng những sản phẩm hữu ích